* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgba(31, 36, 45);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgba(255, 128, 0);
    --main-color-darken: rgba(255, 128, 0, 0.5);
    --btn-txt: rgba(50, 57, 70);
    --header-bg: rgba(0, 0, 0, 0.4);
    --header-tx: #fff;
}

.light-theme {
    --bg-color: rgba(96, 129, 200, 0.83);
    --second-bg-color: rgba(208, 230, 255);
    --text-color: rgba(30, 41, 59);
    --main-color: rgba(218, 119, 53);
    --main-color-darken: rgba(218, 119, 53, 0.5);
    --btn-txt: rgba(255, 255, 255);
    --header-bg: rgba(0, 0, 0, 0.7);
    --header-tx: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Send it behind all other elements */
    opacity: 0.35;
    /* Optional: for a subtle background look */
}

section {
    min-height: 90vh;
    padding: 10rem 9% 2rem;
}




#theme-toggle {
    font-size: 2.5rem;
    color: var(--header-tx);
    margin-left: 2.5rem;
    background: transparent;
    margin-left: 4rem;
    transition: .3s;
}

#theme-toggle:hover {
    color: yellow;
}

#menu-icon {
    font-size: 3.6 rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    display: none;
}

.heading {
    text-align: center;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--btn-txt);
    letter-spacing: .1rem;
    font-weight: 900;
    font-style: bold;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.blogs-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;
    padding: 1rem 5%;
    scrollbar-width: none;
    /* Firefox */
}

.blogs-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.blog-card {
    flex: 0 0 calc(33.333% - 1.33rem);
    scroll-snap-align: start;
}

@media (max-width: 900px) {
    .blog-card {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media (max-width: 600px) {
    .blog-card {
        flex: 0 0 100%;
    }
}

.other h2,
.heading span {
    margin-bottom: 4rem;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.other-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.other-box {
    position: relative;
    height: 16vw;
    width: 26.7vw;
    border-radius: 2rem;
    /*background-color: #1f242d;
    box-shadow: 0 0 1rem var(--bg-color);*/
    overflow: hidden;
    display: flex;
}

.other-box img {
    width: 100%;
    opacity: 68%;
    transition: .5s ease;
}

/*.other-box:hover img {
    transform: scale(1.1);
}*/

.other-box .other-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.other-box:hover .other-layer {
    transform: translateY(0);
}

.other-layer h4 {
    font-size: 3rem;
    color: #fff;
}

.other-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: #fff;
}

.other-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.other-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.other-layer a i:hover {
    font-size: 2.5rem;
    color: var(--main-color);
}





/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .other {
        padding-bottom: 7rem;
    }
}

@media (max-width: 860px) {
    #menu-icon {
        display: block;
        font-size: 2rem;
    }



    .other h2 {
        margin-bottom: 3rem;
    }

}

@media (max-width: 617px) {
    .other-container {
        grid-template-columns: 1fr;
    }

    .other-box {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}